*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

.logo {
    height: 56px;
}

.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #733572;
    padding: 20px 15px;
}

.app-main {
    background-color: #373571;
    color: #fff;
    height: 300px;
    padding: 80px 50px;
}

.nav-menu {
    display: flex;
    font-size: 20px;
    list-style: none;
}

.nav-menu li {
    margin-right: 20px;
}

.nav-menu li:hover {
    text-decoration: underline;
}

.nav-menu li a:link,
.nav-menu li a:visited {
    color: #fff;
    text-decoration: none;
}

.app-contact {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;

    background-color: #e5e5e5;
    color: #888;
    font-size: 20px;
    height: 300px;
    width: 100%;
}

